<div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
</div>



<!-- <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
(onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      <button  type="button" (click)="openFileSelector()">Choose Image</button>
    </ng-template>
</ngx-file-drop> -->
