$primary-palette: (
  50 : #fdece8,
  100 : #f9d0c6,
  200 : #f5b1a0,
  300 : #f19179,
  400 : #ee7a5d,
  500 : #eb6240,
  600 : #e95a3a,
  700 : #e55032,
  800 : #e2462a,
  900 : #dd341c,
  A100 : #ffffff,
  A200 : #ffe2df,
  A400 : #ffb4ac,
  A700 : #ff9e92,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$secondary-palette: (
  50 : #fef5e2,
  100 : #fce6b6,
  200 : #fad586,
  300 : #f7c456,
  400 : #f6b731,
  /*500 : #f4aa0d,*/
  500 : #000,
  600 : #f3a30b,
  700 : #f19909,
  800 : #ef9007,
  900 : #ec7f03,
  A100 : #ffffff,
  A200 : #ffefe0,
  A400 : #ffd5ad,
  A700 : #ffc793,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$tertiary-palette: (
  50 : #eaf5ea,
  100 : #c9e7cb,
  200 : #a6d7a8,
  300 : #82c785,
  400 : #67bb6a,
  500 : #4caf50,
  600 : #45a849,
  700 : #3c9f40,
  800 : #339637,
  900 : #248627,
  A100 : #c5ffc7,
  A200 : #92ff95,
  A400 : #5fff64,
  A700 : #46ff4b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$quaternary-palette: (
  50 : #e8e4ea,
  100 : #c7bccb,
  200 : #a18fa8,
  300 : #7b6285,
  400 : #5f406b,
  500 : #431e51,
  600 : #3d1a4a,
  700 : #341640,
  800 : #2c1237,
  900 : #1e0a27,
  A100 : #c764ff,
  A200 : #b431ff,
  A400 : #a100fd,
  A700 : #9100e4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);




