<app-default-detail>
  <div detail-relations>

    <app-drop-down-grid>
      <h2 drop-down-grid-header>Success Stories</h2>
      <div fxLayout="row wrap" fxLayoutGap="40px" drop-down-grid-items>
        <app-add-relationship (onAccept)="addSuccessStory($event)"
                              [component]="clientSuccessStory"></app-add-relationship>
        <app-client-successstory-relation-item class="relation-item" *ngFor="let successStory of successStories"
                                               [successStory]="successStory"></app-client-successstory-relation-item>
      </div>
    </app-drop-down-grid>
  </div>
</app-default-detail>
