<app-default-detail>
  <div detail-relations>
    <app-drop-down-grid>
      <h2 drop-down-grid-header>Client</h2>
      <div fxLayout="row wrap" fxLayoutGap="40px" drop-down-grid-items>
        <app-add-relationship (onAccept)="addClient($event)" [component]="successStoryClient"></app-add-relationship>
        <app-successstory-client-relation-item *ngIf="client" class="relation-item"
                                          [client]="client"></app-successstory-client-relation-item>
      </div>
    </app-drop-down-grid>
    <app-drop-down-grid>
      <h2 drop-down-grid-header>Vendor</h2>
      <div fxLayout="row wrap" fxLayoutGap="40px" drop-down-grid-items>
        <app-add-relationship (onAccept)="addVendor($event)" [component]="successStoryVendor"></app-add-relationship>
        <app-successstory-vendor-relation-item *ngIf="vendor" class="relation-item"
                                          [vendor]="vendor"></app-successstory-vendor-relation-item>
      </div>
    </app-drop-down-grid>
    <app-drop-down-grid>
      <h2 drop-down-grid-header>Products</h2>
      <div fxLayout="row wrap" fxLayoutGap="40px" drop-down-grid-items>
        <app-add-relationship (onAccept)="addProduct($event)" [component]="successStoryProduct"></app-add-relationship>
        <app-successstory-product-relation-item class="relation-item" *ngFor="let product of products"
                                          [product]="product"></app-successstory-product-relation-item>
      </div>
    </app-drop-down-grid>
  </div>
</app-default-detail>
