.grid-item-border {
  /*background-image: linear-gradient(to left, #01b9ce, #451250);*/
  background-color: #efefef;
  padding: 1px;
  flex : 1;
  display:flex;
}

.grid-item-overlay {
  background-color: white;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 198px;
}

.image-wrapper, .image-wrapper img {
  max-width:100%;
  height: auto;
}

:host ::ng-deep .relation-item .grid-item-border {
  background-image: linear-gradient(to left, #f3aa00, #f0613d);
  padding: 2px;
  flex : 1;
  display:flex;
}


