<div class="container">

  <h1 i18n="i18n test|this is a test for i18n usage@@test">Welcome to the new and improved OSS Directory!! :-)</h1>

  <!--
  <h1>TODO</h1>
  <mat-chip-list class="mat-chip-list-stacked">
      <mat-chip selected color="warn">I18N</mat-chip>
      <mat-chip selected color="accent">Publisher/Subscriber Implementation</mat-chip>
      <mat-chip selected color="accent">Generic User Model</mat-chip>
      <mat-chip selected color="accent">Password reset</mat-chip>
      <mat-chip selected>Router animations</mat-chip>
    </mat-chip-list>

  -->
  
</div>
